// Colors
$ak-green: var(--primary-color);
$ak-green-dark: var(--primary-color-dark);
$ak-grey: #47535b;
$ak-ash: #EFF0F1;

body{
    --primary-color: #6FBC6D;
    --primary-color: #0aafc4;
    // --primary-color: #ffbb41;
    --primary-color-dark: #4e844d;
    --primary-color-dark: #058fa0;
}